$bg-color-1 : #16181b;
$bg-color-2 : #3a3a3a;
$bg-color-3 : #4d4d4d;
$heading-color: #d4d4d4;
$text-color-1: rgba(235, 235, 235, .6);
$gradient-color-1 : #009245;
$gradient-color-2 : #FCEE21;
$transition : all 0.3s ease;
$text-color-2: #d4d4d4;