// Colors
$color-black: #16181b;
$color-gray: #4d4d4d;
$color-gray-light: rgba(235, 235, 235, .6);
$color-gray-dark: #3a3a3a;
$color-white-slate: #d4d4d4;
$color-green: #009245;
$color-yellow: #FCEE21;

// Transitions
$transition : all 0.3s ease;